[Unit]
Description=Minecraft Server Status Web Page
After=multi-user.target

[Service]
User=mcuser
Group=mcuser
# Run app.py with gunicorn
ExecStart=/home/mcuser/Home-MC/web/.venv/bin/gunicorn --workers 3 --bind localhost:8765 app:app
StandardOutput=append:/home/mcuser/Home-MC/log/web.log
StandardError=append:/home/mcuser/Home-MC/log/web.log
WorkingDirectory=/home/mcuser/Home-MC/web
Restart=always
ExecStartPre=git checkout main
ExecStartPre=git pull

[Install]
WantedBy=multi-user.target
