[Unit]
Description=Minecraft Server Status Web Page
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/share/minecraft-server-web-page/simple_server.py
StandardOutput=append:/var/log/minecraft_web_page.log
StandardError=append:/var/log/minecraft_web_page.log
Restart=always

[Install]
WantedBy=multi-user.target
