.card-list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    gap: 0.1rem;
}

.card {
    /* Fill grid from left to right with 3 columns */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: white;
}

.card * {
    color: black
}

.card p {
    margin: 0;
    font-size: small;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}