.card {
    /* Fill grid from left to right with 3 columns */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 10px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    height: 3rem;
}

.card-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.card-date p {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}


.card-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-name p {
    margin: 0;
    padding: 0;
}

.card-coords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.card-coords p {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}