@font-face {
    font-family: 'Minecraft Regular';
    src: url('../fonts/1_MinecraftRegular1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo_Expanded-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft Bold';
    src: url('../fonts/3_MinecraftBold1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    background-color: black;
}

.background {
    background-image: url("../img/background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100vw;
    z-index: -1;
    height: 100vh;
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
    transform: scale(1.2);
}

.foreground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    /* align-items: center; */
    height: 100vh;
    margin-left: 10vw;
    margin-right: 15vw;
    font-family: 'Archivo', sans-serif;
    color: white;
    font-size: 1.5rem;
}


h1 {
    font-size: 5rem;
}

.information {
    /* Fill grid from left to right with 3 columns */
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-transform: uppercase;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.icon_holder {
    background: white;
    /* Make square and big */
    width: 5rem;
    height: 5rem;
    /* Center the icon */
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons.md-60 {
    font-size: 3rem;
}

.inner_card {
    margin: 1rem;
    color: white;
}

.bit_name {
    font-size: 1rem;
}


.bit_info {
    font-size: 2rem;
}

.green {
    color: rgb(17, 196, 17);
}

.red {
    color: rgb(255, 24, 24);
}