.card-list {
    max-height: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
    width: 100%;
}


.card-list::-webkit-scrollbar {
    margin-top: 15px;
    display: block;
    width: 16px;
}

.card-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.card-list::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.card-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.card-list::-webkit-scrollbar-button {
    display: none;
}


.card {
    /* Fill grid from left to right with 3 columns */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 10px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    height: 2.5em;
}

.card-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.card-date p {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}


.card-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-name p {
    margin: 0;
    padding: 0;
}