{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/backups.css') }}">
{% endblock %}

{% block title %}Backups{% endblock %}

{% block content %}
<h1>Backups</h1>
<div class="card-holder">
    {% for bkp in backups %}
    <div class="card">
        <date>
            <p>{{ bkp['day'] }}</h2>
            <p class="gray">{{ bkp['hour'] }}</p>
        </date>
        <name>
            <p>{{ bkp['name'] }}</p>
        </name>
    </div>
    {% endfor %}
</div>
{% endblock %}