{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/list.css') }}">
{% endblock %}

{% block title %}Backups{% endblock %}

{% block content %}
<h1>Backups</h1>
<list class="card-list">
    {% for section in backups %}
    <h4>{{ section['name'] }}</h4>
    {% for bkp in section['backups'] %}
    <card class="card">
        <div class="card-info">
            <p>{{ bkp['day'] }}</p>
            <p class="gray">{{ bkp['hour'] }}</p>
        </div>
        <div class="card-actions">
            {% if bkp['type'] == 'full' %}
            <a href="{{ url_for('download_backup', path=section['rel_path']) }}" class="material-icons">download</a>
            {% endif %}
        </div>
    </card>
    {% endfor %}
    {% endfor %}
</list>
{% endblock %}