{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/backups.css') }}">
{% endblock %}

{% block title %}Backups{% endblock %}

{% block content %}
<h1>Backups</h1>
<list class="backups-list">
    {% for section in backups %}
    <h3>{{ section['name'] }}</h3>
    <list class="card-holder">
        {% for bkp in section['backups'] %}
        <card class="backup">
            <name>{{ bkp['name'] }}</name>
            <date>
                <p>{{ bkp['day'] }}</p>
                <p>{{ bkp['hour'] }}</p>
            </date>
        </card>
        {% endfor %}
    </list>
    {% endfor %}
</list>
{% endblock %}