<!doctype html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <title>{% block title %}{% endblock %}</title>
    <div class="background"></div>
    <div class="foreground">
        <nav class="navbar">
            <div class="nav-section left">
                <a href="{{ url_for('index') }}">mc.parcerisa.xyz</a>
                <div class="v-separator"></div>
                <a href="{{ url_for('backups') }}">Backups</a>
                <a href="{{ url_for('playtime') }}">Player Playtime</a>
            </div>
            <div class="nav-section right">
                <button href="https://discord.gg/waB5NW7gbQ">Join our Discord</button>
            </div>
        </nav>
        <div class="h-separator"></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>