<!doctype html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <title>{% block title %}{% endblock %}</title>
    <div class="background"></div>
    <div class="foreground">
        <nav class="navbar">
            <div class="navbar-left">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('checkpoints') }}">Checkpoints</a>
                <a href="{{ url_for('backups') }}">Backups</a>
                <a href="https://discord.gg/waB5NW7gbQ">Join our Discord</a>
            </div>
            <div class="navbar-right">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Log out</a>
                <a href="{{ url_for('profile') }}">
                    <div class="right-button">{{ current_user.username }}</div>
                </a>
                {% else %}
                <a href="{{ url_for('login') }}">Log in</a>
                <a href="{{ url_for('signup') }}">
                    <div class="right-button">Sign up</div>
                </a>
                {% endif %}
            </div>
        </nav>
        <div class="separator"></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>