{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/checkpoints.css') }}">
{% endblock %}

{% block title %}World Checkoints{% endblock %}

{% block content %}
<div class="information">
    {% for cpt in checkpoints %}
    <div class="card">
        <div class="card-date">
            <p>{{ cpt['day'] }}</h2>
            <p class="gray">{{ cpt['hour'] }}</p>
        </div>
        <h1 class="card-name">{{ cpt['name'] }}</h1>
        <div class="card-coords">{{ cpt['coords'] }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}