<!doctype html>
<title>Welcome to the minecraft server!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
<section class="content">
    <div class="background"></div>
    <div class="main_container">
        <div class="foreground">
            <h1>mc.parcerisa.xyz</h1>

            {% for stat in server_status %}
            <div class="information">{{ stat[0] }} : <span class="{{ stat[2] }}">{{ stat[1] }}</span></div>
            {% endfor %}
        </div>
    </div>
</section>