{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/list.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/backups.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block title %}Playtime{% endblock %}

{% block content %}
<h1>Player Playtime</h1>
<canvas id="playtimeChart" style="width:100%;max-width:700px"></canvas>
<script>
    fetch("{{ url_for('api_playtime') }}")
        .then(response => response.json())
        .then(({ players, playtime }) => {
            new Chart("playtimeChart", {
                type: "bar",
                data: {
                    labels: players,
                    datasets: [{ data: playtime }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: false,
                        text: "Player Playtime (hours)"
                    }
                }
            });
        }
        );

</script>
{% endblock %}