{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/list.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/backups.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{% endblock %}

{% block title %}Playtime{% endblock %}

{% block content %}
<h1>Player Playtime</h1>
<div style="background: black;position: relative; width: fit-content;">
    <canvas id="playtimeChart" style="width:100%;max-width:700px;"></canvas>
</div>
<script>
    fetch("{{ url_for('api_playtime') }}")
        .then(response => response.json())
        .then(({ players, playtime }) => {
            new Chart("playtimeChart", {
                type: "bar",
                data: {
                    labels: players,
                    datasets: [{
                        data: playtime,
                        backgroundColor: players.map(() => "green"),
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Player Playtime (hours)"
                    },
                    scales: {
                        yAxes: {
                            ticks: {
                                min: 0,
                            }
                        },
                    }
                }
            },
            );
        });


</script>
{% endblock %}